<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="QaPro" parallel="tests">
  
  <test name=" =============FaceBook SignUp testing using ChtomeTest==================">
  	<parameter name="url" value="https://www.facebook.com"> </parameter>
  	<parameter name="browser" value="chrome"> </parameter>
  	<classes>
      <class name="testCases.FBSignUpTc"/>
    </classes>
  </test> <!-- Test -->
  
  <test name="==================aceBook SignUp testing using FirefoxTest===============">
  	<parameter name="url" value="https://www.facebook.com"> </parameter>
  	<parameter name="browser" value="firefox"> </parameter>
  	<classes>
      <class name="testCases.FBSignUpTc"/>
    </classes>
  </test> <!-- Test -->
  
</suite> <!-- Suite -->

